body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  color: red;
}

#test {
  color: red;
}

header {
  background-color: #313131;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

main {
  padding: 0 20px;
}

nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  text-transform: uppercase;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 5px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: .7;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  padding: 5px 4px;
  border: 1px solid #AAA;
  border-radius: 3px;
  font: inherit;
  outline: 0;
}
